/* Note make for mobile firs. If you do have time, then you can utilize the 
@Media querryies to make your code look good on both tables and desktops as well */

html, body, #container {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}

h1, h2 {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

h3, h4, h5 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  color: #8f8f8f;
}

img {
  width: 100%;
  height: auto;
  max-height: 200px;
  border-radius: 10px 10px 0 0;
}

.card-view {
  height: 100%;
  max-height: 300px;
  max-width: 350px;
  margin: 15px;
  background-color: white;

  box-shadow: 10px 10px 50px -20px rgba(0, 0, 0, 0.3);
  border: 0px solid white;
  border-radius: 10px 10px 10px 10px;
}

.text-card-content {
  padding: 8px 16px 16px 16px;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
}

@media only screen and (min-width: 768px) {
  /* For desktop: */

  .card-view {
    float: left;
    background: #f5f5f5;
    transition: 0.4s;
  }

  .card-view:hover {
    background: white;
    box-shadow: 10px 10px 80px -20px rgba(0, 0, 0, 0.8);
    cursor: pointer;
  }
}