#root {
    display: grid;
    grid-template-columns: 1fr 1fr;
    display: flex;
    align-items: center;
    justify-content: center;
}

.winner {
    color: green;
}

.player-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 300px;
}

.score {
    grid-column: 1 / span 2;
    text-align: center;
    font-size: 60px;
    margin: 0;
    padding: 0;
}

.player-name {
    grid-column: 1 / span 2;
    text-align: center;
    color: darkgrey;
    margin: 0;
    padding: 0;
}

.increment-button {
    width: 150px;
}

.reset-button {
    grid-column: 1 / span 2;
}

#winner-text {
    grid-column: 1 / span 2;
}